services:
  web:
    container_name: web
    build:
      context: ./apps/web
      dockerfile: dev.Dockerfile

    env_file:
      - ./apps/web/.env
    volumes:
      - ./apps/web:/works
      - next_build:/works/.next
      - node_modules:/works/node_modules
    restart: always
    tty: true
    stdin_open: true
    ports:
      - 3000:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - api

  api:
    container_name: api
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    ports:
      - '8000:8000'
    volumes:
      - ./apps/api:/app
    environment:
      - ENVIRONMENT=development
      - HOST=api
      - PORT=8000
    restart: always
    tty: true
    stdin_open: true
    command: ['air', '-c', '.air.toml']
    depends_on:
      - db

  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: p@ssw0rd
      POSTGRES_DB: tut_bus
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/pg_hba.conf:/etc/postgresql/pg_hba.custom:ro
    command: postgres
      -c hba_file=/etc/postgresql/pg_hba.custom
      -c ssl=off
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U postgres -d tut_bus']
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s

  swagger:
    image: swaggerapi/swagger-ui
    container_name: swagger
    ports:
      - 8080:8080
    volumes:
      - ./apps/spec/dist/openapi.yaml:/spec/dist/openapi.yaml:ro
    environment:
      SWAGGER_JSON: /spec/dist/openapi.yaml

volumes:
  node_modules:
  next_build:
  postgres_data:
